DB_HOST=jiseung-jiseungmysql.g.aivencloud.com
DB_PORT=14822
DB_NAME=stock
DB_USERNAME=avnadmin
DB_PASSWORD=changeme

MAIL_HOST=smtp.naver.com
MAIL_PORT=587
MAIL_USERNAME=changeme
MAIL_PASSWORD=changeme
MAIL_FROM_NAME=stockNews

CORS_ALLOWED_ORIGINS=https://your-frontend-domain.com

DOMAIN=api.yourdomain.com
