:global(#mainLayout) {
  &.main-layout {
    display: grid;
    grid-template-columns: repeat(2, minmax(0, 550px));
    column-gap: 120px;
    max-width: 1220px;
    min-height: 100vh;
    margin: 0 auto;

    .main-layout__left {
      position: sticky;
      top: 0;
      height: 100vh;
    }

    .main-layout__right {
      background-color: #fff;
    }

    .main-layout__content {
      min-height: calc(100vh - 96px);
      padding: 16px;
    }
  }
}
