@use './flexMixIn.scss' as *;

@mixin btn($size: m) {
  @include flex(center, center);
  border-radius: 10px;
  font-weight: 600;
  line-height: 1;
  width: 100%;
  height: 40px;
  cursor: pointer;
  transition:
    color 0.2s,
    border-color 0.2s,
    background-color 0.2s,
    opacity 0.2s,
    transform 0.2s;

  @if $size == ss {
    max-width: 52px;
    padding: 0 10px;
    font-size: 12px;
  } @else if $size == s {
    max-width: 64px;
    padding: 0 12px;
    font-size: 13px;
  } @else if $size == m {
    max-width: 80px;
    padding: 0 16px;
    font-size: 14px;
  } @else if $size == l {
    max-width: 96px;
    padding: 0 20px;
    font-size: 15px;
  } @else if $size == full {
    max-width: none;
  } @else if $size == icon {
    width: 24px;
    height: 24px;
    border-radius: 0;
  } @else if $size == text {
    width: auto;
    height: auto;
    border-radius: 0;
    font-weight: 400;
  }

  &:disabled {
    cursor: not-allowed;
    opacity: 0.6;
  }
}
