@media (max-width: 550px) {
  :global(#watchlistRegisterPage) {
    &.watchlist-register-page {
      .watchlist-register-page__register-button {
        min-width: 32px;
        padding: 0;

        .watchlist-register-page__register-button-label {
          display: none;
        }

        :global([role='status']) span {
          display: none;
        }
      }
    }
  }
}
